body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: $font-weight-default;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

.-bold {
  font-weight: 700;
}
.-italic {
  font-style: italic;
}

label:not(.custom-control-label) {
  margin-bottom: map-get($spacers, 1);
  @include font-size($font-size-s);
  font-weight: $font-weight-bold;
}

.custom-select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
