body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: $font-weight-default;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

.-bold {
  font-weight: 700;
}
.-italic {
  font-style: italic;
}


// button links

.-primary, .-secondary {
  box-sizing: border-box;
  border-radius: 100px;
  transition: all .2s ease-in-out;
  padding: 5px;
  text-align: center;

  &:hover {
    text-decoration: none;
    transform: scale(1.05);

    &.-primary {
      color: white;
    }
  }
}
.-primary {
  background-color: $primary;
  color: white;
}
.-secondary {
  border: 1px solid $black;
  color: $black
}

label:not(.custom-control-label) {
  margin-bottom: map-get($spacers, 1);
  @include font-size($font-size-s);
  font-weight: $font-weight-bold;
}

.custom-select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

// -- Info modal (CSS is here because they're added to the document by 
// -- means of the Tooltip component
.info-icon {
  cursor: pointer;
}
.info-tooltip {
  max-width: 300px;
}
