@import 'css/settings';

.p-project {
  width: 100%;
  height: 100vh;

  .c-header, .navigation-bar {
    padding: 0px 10%;
  }

  .navigation-bar {
    margin-bottom: 16px;
    
    a {
      text-decoration: none;

      .back-container {
        display: flex;
        align-items: center;
        font-size: 18px;

        .back-text {
          margin-left: 5px;
          color: $text-color-1;
        }
      }
    }
  }
}
