@import 'css/settings';

.c-project-viewer {

  .title-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
    margin-bottom: 65px;
    background-color: $primary;
    color: $white;
    
    h1 {
      max-width: 50%;
      text-align: center;
    }
  }

  h5 {
    font-size: 24px;
    font-weight: 700;
  }

  .main-container {
    display: flex;
    padding: 0px 10%;

    .left-container {
      width: 260px;

      .text-container {
        display: flex;
        flex-direction: column;
        margin-top: 85px;
      }
      .buttons {
        display: flex;
        flex-direction: column;

        a {
          margin-top: 20px;
        }
      }
      .id-container {
        margin-top: 16px;
        font-size: 14px;
        font-style: italic;
      }
    }

    .right-container {
      margin-left: 120px;

      .category-section {
        margin-bottom: 45px;

        .category-title {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .category-title-text {
            margin: 0px 5px 0px 0px;
          }
        }

        .dynamic-text {
          margin-bottom: 10px;
        }

        .property-label {
          margin-right: 10px;
        }

        .pills-container {
          display: flex;
          flex-wrap: wrap;

          .c-pill {
            margin: 5px 5px 5px 0px;
          }
        }
      }
    }
  }
}
