.l-static-page {
  position: relative; }
  .l-static-page > .logo {
    position: absolute;
    right: 0;
    top: -0.875rem;
    transform: translateY(-100%);
    display: block;
    height: 1.25rem; }

.c-catalogue-filter {
  display: flex;
  flex-direction: column; }
  .c-catalogue-filter .category-container {
    margin-bottom: 10px; }
    .c-catalogue-filter .category-container .title {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      .c-catalogue-filter .category-container .title .info-button {
        margin-right: 5px;
        cursor: pointer; }
      .c-catalogue-filter .category-container .title .category-label {
        font-size: 16px; }
    .c-catalogue-filter .category-container .filters-section .select-filter {
      margin-top: 10px; }
      .c-catalogue-filter .category-container .filters-section .select-filter select {
        width: 100%; }
    .c-catalogue-filter .category-container .filters-section .radio-filter {
      display: flex;
      align-items: center;
      margin-top: 10px; }
      .c-catalogue-filter .category-container .filters-section .radio-filter .c-radio {
        margin: 0px 15px 0px 0px; }
    .c-catalogue-filter .category-container .filters-section .filter-selector {
      width: 100%; }
    .c-catalogue-filter .category-container .filters-section .filters-applied {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px; }
      .c-catalogue-filter .category-container .filters-section .filters-applied .c-pill {
        margin-bottom: 5px; }

.c-radio .custom-control-input:checked:not(:disabled):active ~ .custom-control-label:before {
  background-color: transparent; }

.c-radio .custom-control-input:checked ~ .custom-control-label {
  color: #03755e;
  font-weight: 500; }
  .c-radio .custom-control-input:checked ~ .custom-control-label:before {
    border-width: 2px; }
  .c-radio .custom-control-input:checked ~ .custom-control-label:after {
    top: 0.375rem;
    left: -1.5rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #03755e; }

.c-radio + .c-radio {
  margin-top: 1rem; }

.c-checkbox .custom-control-input:checked:not(:disabled):active ~ .custom-control-label:before {
  background-color: transparent; }

.c-checkbox .custom-control-input:checked ~ .custom-control-label {
  color: #03755e;
  font-weight: 500; }
  .c-checkbox .custom-control-input:checked ~ .custom-control-label:before {
    border-width: 2px; }
  .c-checkbox .custom-control-input:checked ~ .custom-control-label:after {
    top: 0.375rem;
    left: -1.5rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.125rem;
    background-color: #03755e; }

.c-checkbox + .c-checkbox {
  margin-top: 1rem; }

select.c-select {
  width: auto;
  vertical-align: baseline;
  -moz-appearance: none;
  -webkit-appearance: none; }

.c-range {
  width: 100%;
  padding: 0 0.5rem; }
  .c-range input {
    display: block; }
  .c-range .marks {
    display: flex;
    justify-content: space-between;
    margin-top: 0.25rem;
    font-size: 0.75rem; }
    .c-range .marks span {
      position: relative;
      display: block;
      width: 1rem;
      height: 1.375rem; }
      .c-range .marks span:before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0.125rem;
        height: 0.4375rem;
        background-color: rgba(34, 34, 34, 0.3);
        content: ''; }
      .c-range .marks span:after {
        position: absolute;
        top: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        content: attr(data-label); }

.c-project-viewer h1 {
  max-width: 322px;
  font-weight: 400;
  margin-bottom: 85px; }

.c-project-viewer h5 {
  font-size: 24px;
  font-weight: 700; }

.c-project-viewer .main-container {
  display: flex; }
  .c-project-viewer .main-container .left-container {
    width: 260px; }
    .c-project-viewer .main-container .left-container .text-container {
      display: flex;
      flex-direction: column;
      margin-top: 85px; }
    .c-project-viewer .main-container .left-container .buttons {
      display: flex;
      flex-direction: column; }
      .c-project-viewer .main-container .left-container .buttons button {
        margin-top: 20px; }
  .c-project-viewer .main-container .right-container {
    margin-left: 120px; }
    .c-project-viewer .main-container .right-container .category-section {
      margin-bottom: 45px; }
      .c-project-viewer .main-container .right-container .category-section .property-label {
        margin-right: 10px; }
      .c-project-viewer .main-container .right-container .category-section .pills-container {
        display: flex;
        flex-wrap: wrap; }
        .c-project-viewer .main-container .right-container .category-section .pills-container .c-pill {
          margin: 5px 5px 5px 0px; }

.tippy-popper {
  max-width: none !important;
  z-index: 9 !important; }
  .tippy-popper div.tippy-tooltip {
    max-width: none !important; }
  .tippy-popper div.tippy-tooltip.light-theme {
    padding: 1rem;
    font-size: 1rem;
    line-height: inherit;
    color: #222222;
    border-radius: 0.625rem;
    background-color: #fff;
    border: 0.0625rem solid rgba(34, 34, 34, 0.3);
    box-shadow: 0.0625rem 0.0625rem 0.625rem 0 rgba(0, 0, 0, 0.1); }
    .tippy-popper div.tippy-tooltip.light-theme[data-placement^='top'] > .tippy-arrow {
      border-top-color: #fff; }
      .tippy-popper div.tippy-tooltip.light-theme[data-placement^='top'] > .tippy-arrow:after {
        position: absolute;
        top: -0.375rem;
        left: -0.4375rem;
        border: 0.4375rem solid transparent;
        border-top-color: rgba(34, 34, 34, 0.3);
        z-index: -1;
        content: ''; }
    .tippy-popper div.tippy-tooltip.light-theme[data-placement^='bottom'] > .tippy-arrow {
      border-bottom-color: #fff; }
    .tippy-popper div.tippy-tooltip.light-theme[data-placement^='left'] > .tippy-arrow {
      border-left-color: #fff; }
    .tippy-popper div.tippy-tooltip.light-theme[data-placement^='right'] > .tippy-arrow {
      border-right-color: #fff; }
      .tippy-popper div.tippy-tooltip.light-theme[data-placement^='right'] > .tippy-arrow:after {
        position: absolute;
        top: -0.4375rem;
        left: -0.5rem;
        border: 0.4375rem solid transparent;
        border-top-color: rgba(34, 34, 34, 0.3);
        z-index: -1;
        transform: rotate(90deg);
        content: ''; }
    .tippy-popper div.tippy-tooltip.light-theme .tippy-content {
      padding: 0; }

.c-pill {
  display: flex;
  align-items: center;
  padding: 5px 18px;
  background-color: #DEDEDE;
  border-radius: 50px; }
  .c-pill button {
    border: none;
    background-color: unset; }
  .c-pill a {
    text-decoration: unset; }

.c-project-chart {
  display: flex;
  flex-direction: column;
  max-width: 180px;
  padding: 10px; }
  .c-project-chart .title {
    margin-top: 10px;
    text-align: center; }
  .c-project-chart.-hover-animated svg:hover {
    cursor: pointer; }
  .c-project-chart.-hover-animated:hover {
    -webkit-animation: grow 1s forwards;
            animation: grow 1s forwards;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px; }
    .c-project-chart.-hover-animated:hover .title {
      font-weight: bold; }
  .c-project-chart svg circle {
    fill: none;
    stroke: #222222;
    stroke-width: 3px;
    -webkit-animation: fill-circles 2s forwards;
            animation: fill-circles 2s forwards; }
    .c-project-chart svg circle.-highlighted {
      stroke: #FF6C2F; }

@-webkit-keyframes fill-circles {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes fill-circles {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes grow {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }

@keyframes grow {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }


.p-home {
  height: 100vh;
  width: 100%;
  padding: 3rem; }
  .p-home .l-static-page {
    height: 100%; }
    .p-home .l-static-page .navigation-bar {
      display: flex;
      justify-content: flex-end; }
      .p-home .l-static-page .navigation-bar button {
        margin-left: 20px; }
    .p-home .l-static-page .main-container {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .p-home .l-static-page .main-container .top-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 100px;
        text-align: center; }
      .p-home .l-static-page .main-container .data-container {
        display: flex;
        margin: 30px; }
        .p-home .l-static-page .main-container .data-container .left-container {
          width: 33%;
          max-width: 322px;
          margin-right: 30px; }
          .p-home .l-static-page .main-container .data-container .left-container .-border-top {
            border-top: solid 3px #222222;
            padding: 30px 0px 15px 0px; }
          .p-home .l-static-page .main-container .data-container .left-container p {
            font-size: 16px; }
          .p-home .l-static-page .main-container .data-container .left-container .legend-text {
            margin-top: 45px; }
          .p-home .l-static-page .main-container .data-container .left-container .intro-filters-container h3 {
            margin-bottom: 20px; }
        .p-home .l-static-page .main-container .data-container .right-container {
          width: 67%;
          border-top: solid 3px #222222;
          padding: 30px 0px;
          margin-left: 30px; }
          .p-home .l-static-page .main-container .data-container .right-container .projects-list {
            width: 100%; }
            .p-home .l-static-page .main-container .data-container .right-container .projects-list .list-header {
              display: flex;
              align-items: center;
              width: 100%;
              margin-bottom: 50px; }
              .p-home .l-static-page .main-container .data-container .right-container .projects-list .list-header .country-container {
                margin-left: 36px; }
              .p-home .l-static-page .main-container .data-container .right-container .projects-list .list-header .country-container label, .p-home .l-static-page .main-container .data-container .right-container .projects-list .list-header .sort-container label {
                font-size: 18px;
                font-weight: 700; }
              .p-home .l-static-page .main-container .data-container .right-container .projects-list .list-header .country-container select, .p-home .l-static-page .main-container .data-container .right-container .projects-list .list-header .sort-container select {
                margin-left: 8px;
                font-size: 16px;
                font-weight: 700; }
            .p-home .l-static-page .main-container .data-container .right-container .projects-list .c-project-card {
              margin: 0px 10px 40px 10px; }

.p-project {
  width: 100%;
  height: 100vh;
  padding: 3rem; }
  .p-project .l-static-page {
    height: 100%; }

