@import 'css/settings';

.c-pill {
  display: flex;
  align-items: center;
  padding: 5px 18px;
  background-color: $light-grey;
  border-radius: 50px;

  button {
    border: none;
    background-color: unset;
  }

  a {
    text-decoration: unset;
  }

}
