@import 'css/settings';

.c-catalogue-filter {
  display: flex;
  flex-direction: column;
  
  .category-container {
    margin-bottom: 10px;

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .c-category-info-tooltip {
        margin-right: 5px;
      }
      .category-label {
        margin-left: 5px;
        font-size: 16px;
      }
    }

    .filters-section {
      
      .select-filter {
        margin-top: 10px;

        select {
          width: 100%;
        }
      }
      .radio-filter {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .c-radio {
          margin: 0px 15px 0px 0px;

        }
      }
      .filter-selector {
        width: 100%;
      }
      .filters-applied {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;

        .c-pill {
          margin-bottom: 5px;
        }
      }
    }
  }
}
