@import 'css/settings';

.home-layout {
  height: 100vh;
  width: 100%;

  .c-header {
    padding: 0px 10%;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .embed-project-card {
      padding: 20px;
    }

    .top-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: $primary;
      color: $white;
      padding: 100px 0px;
      text-align: center;

      .title {
        h1 {
          margin-bottom: 40px;
        }
      }
    }

    .data-container {
      display: flex;
      margin: 30px 10%;

      &.-mobile {
        flex-direction: column;
      }

      .left-container {
        max-width: 322px;

        &.-desktop {
          width: 33%;
          margin-right: 30px;
        }

        &.-mobile {
          width: 100%;
        }

        &.-no-width-restriction {
          width: unset;
        }

        &.-hidden {
          display: none;
        }

        p {
          font-size: 16px;
        }
        .legend-chart {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 42px;
        }
        .legend-text {
          margin-top: 45px;
        }
        .intro-filters-container {
          h3 {
            margin-bottom: 20px;
          }
        }
      }

      .embed-filters-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100%;
      }

      .right-container {

        &.-desktop {
          width: 67%;
          margin-left: 30px;
        }

        &.-mobile {
          width: 100%;
        }

        &.-fullwidth {
          width: 100%;
          margin-left: 0px;
        }

        .projects-list {
          width: 100%;

          .list-header {
            display: flex;
            width: 100%;
            margin-bottom: 50px;

            &.-mobile {
              flex-direction: column;
              .country-container, .sort-container {
                display: flex;
                flex-direction: column;
              }
            }

            &.-desktop {
              align-items: center;

              .country-container {
                margin-left: 36px;
              }

              .select {
                margin-left: 8px;
              }
            }
            
            select {
              max-width: 300px;
            }

            .country-container, .sort-container {              
              label {
                font-size: 18px;
                font-weight: 700;

              }
              select {
                font-size: 16px;
                font-weight: 700;
              }
            }
          }

          .project-cards-container {

            .c-project-card {
              margin: 0px 10px 40px 10px;
            }
          }
        }
      }
    }
  }
}
